<footer class="donor-footer">
  <div class="footer-top">
    <div class="footer-logo">
      <img src="./assets/images/logo/logo.png"
        alt="Red blood drop cradled by a hand holding a smaller drop inside, with World Blood Donor Day text in black and red beside the logo, promoting a caring and supportive message about blood donation" />
    </div>
    <div class="footer-info">
      <h3 class="center-title">TRUNG TÂM HIẾN MÁU TÌNH NGUYỆN DONOR</h3>
      <ul>
        <li><strong>📍 Địa Điểm:</strong> Số 5, Phố Phạm Văn Bạch, Quận Cầu Giấy, Hà Nội</li>
        <li>
          <div style="display: flex; gap:20px">
            <strong>📅 Lịch Hiến Máu:</strong>
            <nav>
              Thứ 2 – Thứ 6: 6h30 – 17h00 <br> Thứ 7: 7h30 – 17h00 <br>
              Tổng Đài Đặt Lịch Khám Theo Yêu Cầu: 1900 96 96 70
            </nav>
          </div>
        </li>
        <li><strong>📞 Đường Dây Nóng:</strong> 0967 89 16 16</li>
      </ul>
    </div>
  </div>

  <div class="footer-branches">
    <h3>CÁC ĐIỂM HIẾN MÁU CỐ ĐỊNH VÀ XÉT NGHIỆM NGOẠI VIỆN</h3>
    <p class="divp">8H - 11H45 VÀ 13H30 - 16H30 | THỨ 3 - CHỦ NHẬT (NGHỈ THỨ 2 VÀ NGÀY LỄ)</p>

    <div class="branch-list">
      <div class="branch-item">
        <p>🩸 <strong>QUẬN HOÀN KIẾM</strong><br />
          26 Lương Ngọc Quyến, HN<br />
          Điện thoại: (024) 3718 3154</p>
      </div>
      <div class="branch-item">
        <p>🩸 <strong>QUẬN THANH XUÂN</strong><br />
          132 Quan Nhân, Hà Nội<br />
          Điện thoại: (024) 3207 9699</p>
      </div>
      <div class="branch-item">
        <p>🩸 <strong>QUẬN ĐỐNG ĐA</strong><br />
          Số 10, Ngõ 122, Đường Láng<br />
          Điện thoại: (024) 3203 0032</p>
      </div>
      <div class="branch-item">
        <p>🩸 <strong>HUYỆN THANH TRÌ</strong><br />
          BV ĐK Nông nghiệp, Km13+500, Ngọc Hồi, Hà Nội<br />
          Điện thoại: (024) 3200 0407</p>
      </div>
    </div>
  </div>
</footer>