<header class="main-header">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo/logo.png" alt="Red blood drop cradled by a hand holding a smaller drop inside, with World Blood Donor Day text in black and red beside the logo, promoting a caring and supportive message about blood donation" />
    </div>

    <nav class="nav-links">
      <a href="admin/dashboard.html" id="admin-link">Quản lý</a>
      <a href="trangChu.html">Trang chủ</a>
      <a href="services.html">Dịch vụ</a>
      <a href="thongbao_member.html">Thông báo</a>
      <a href="blog.html">Blog</a>
    </nav>

    <div class="auth-links">
      <a href="dangky_dangnhap_member.html">Sign up</a>
    </div> 
  </div>
</header>
