<nav class="sidebar">
    <div class="logo-section">
        <img src="/assets/images/logo/logo.png" alt="Logo" class="logo" />
    </div>
    <ul class="menu">
        <li style="display: flex; align-items: center; gap: 6px;">
            <img src="/assets/images/icon_admin/home.png" alt="Logo" class="logo"
                style="width: 20px; height: 20px;" />
            <span>TRANG CHỦ</span>
        </li>
        <li style="display: flex; align-items: center; gap: 6px;">
            <img src="/assets/images/icon_admin/dashboard.png" alt="Logo" class="logo"
                style="width: 20px; height: 20px;" />
            <span>THỐNG KÊ</span>
        </li>
        <li style="display: flex; align-items: center; gap: 6px;">
            <img src="/assets/images/icon_admin/user.png" alt="Logo" class="logo"
                style="width: 20px; height: 20px;" />
            <span>NGƯỜI DÙNG</span>
        </li>
        <a href="/admin/index.html" style="text-decoration: none; color: white;">
            <li style="display: flex; align-items: center; gap: 6px;">
                <img src="/assets/images/icon_admin/blood_donations.png" alt="Logo" class="logo"
                    style="width: 20px; height: 20px;" />
                <span>YÊU CẦU HIẾN MÁU</span>
            </li>
        </a>
        <a href="/admin/need_blood.html" style="text-decoration: none; color: white;">
            <li style="display: flex; align-items: center; gap: 6px;">
                <img src="/assets/images/icon_admin/blood_request.png" alt="Logo" class="logo"
                    style="width: 20px; height: 20px;" />
                <span>YÊU CẦU CẦN MÁU</span>
            </li>
        </a>
        <a href="/admin/blood_donations_history.html" style="text-decoration: none; color: white;">
            <li style="display: flex; align-items: center; gap: 6px;">
                <img src="/assets/images/icon_admin/blood_request_history.png" alt="Logo" class="logo"
                    style="width: 20px; height: 20px;" />
                <span>LỊCH SỬ YÊU CẦU</span>
            </li>
        </a>
        <a href="/admin/approve.html" style="text-decoration: none; color: white;">
            <li style="display: flex; align-items: center; gap: 6px;">
                <img src="/assets/images/icon_admin/donation_approve.png" alt="Duyệt" class="logo"
                    style="width: 20px; height: 20px;" />
                <span>DUYỆT HIẾN MÁU</span>
            </li>
        </a>
        <li style="display: flex; align-items: center; gap: 6px;">
            <img src="/assets/images/icon_admin/blood_storage.png" alt="Logo" class="logo"
                style="width: 20px; height: 20px;" />
            <span>MÁU DỰ TRỮ</span>
        </li>
    </ul>
</nav>